/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Define global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

/* Customize styles for different sections as needed */
#about {
    text-align: center;
}

#skills ul {
    text-align: center;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    flex: 0 0 calc(33.33% - 10px);
    margin-bottom: 20px;
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
}

/* Style the resume link */
#resume a {
    color: #007bff;
    text-decoration: none;
}

#resume a:hover {
    text-decoration: underline;
}

/* Style the contact section */
#contact p {
    text-align: center;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
